h2{
    border: solid 4px palevioletred
}
#imagem-gatinho{
    width: 200px;
}
#conteudo-lista{
    text-align: left;
}
#link{
    color:purple;
    text-decoration: none;
}


#link:hover{
    color: gold;
}